/* body{
  margin:0px;
  background-size: cover;
  background-color: grey;
} */
html{
  height:100%;
}
body {
  background: -webkit-linear-gradient(bottom, #3e3903, #022c1569);
  background-size: cover;
  overflow: hidden;
  /* background-repeat: no-repeat; */

}
/* navigation bar containing header and options menu*/
#navbar{
  background-color: rgba(10, 1, 1, 0.619);
  width:100%;
  height:fit-content;
  position: absolute;
  top: 0px;
  left: 0px;
}
#heading{
  width:40%;
  text-align:center;
  font-size:22px;
  line-height:80px;
  float:left;
  color:white;
  text-shadow:5px 5px 5px #efe813bb;
  letter-spacing: 10px;
  cursor:pointer;
  user-select: none;    
}


/*all options in navbar*/
.options{
  width:fit-content;
  line-height:80px;
  height:100%;
  float:right;
  margin-right: 1%;
}
/*options button/submit class*/
.pressedNav{
  all:unset;
  text-align:center;
  margin-right:20px;
  padding-left:30px;
  padding-right:30px;
  width:fit-content;
  height:100%;
  color:white;
  font-size:20px;
  cursor: pointer;
  user-select: none;
}
.flex-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-col{
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#HELP{
  cursor: help;
}
#playForm{
  display: inline;
}
.pressedNav:hover{
  background-color:white;
  color:black;
}
a.pressedNav{
  padding:30px;
  margin-left: 2px;
  margin-right:2px
}
.pressedNav:active{
  background-color:darkgrey;
}
.pressedNav.active{
  background-color:darkgrey;
}  

/*piano body shell*/
#pianobody{
  width: 951px;
  height: 270px;
  border-radius: 10px;
  background-image: linear-gradient(to bottom,black 50%,#595653);
  margin: 40px auto;

  display: grid;
  grid-template-columns:repeat(3,33.3%);
}
/*CSS for other parts*/
.image{
  width:295px; /*895/3 -3(due to 3 margins)*/
  height: 70px;      /*(270-180)-20*/
  margin: auto;
  margin-top: 10px;
}
.mid{
  border-radius: 5px;
  background-image: url("../images/Logo.png");
}
.notmid{
  width:255px;
  background-image: url("../images/speaker.png");
}

#pianobody #keys{
  background-color: black;
  display: flex;
  /* justify-content: space-between; */
  width: 95%;
  height: 180px;
  margin: auto;

  grid-column-start: 1;
  grid-column-end: 4;
}
.lowerkeys{
  all:unset;
  width: 35px;
  height: inherit;
  background-color: white;
  box-shadow: 0px 7px 5px black;
  z-index: 1;
}
.upperkeys{
  all:unset;
  width: 30px;
  height: 110px;
  background-image: linear-gradient(to bottom,black,#616161);
  border-color: lightgrey;
  box-shadow: 0px 7px 5px black;
  margin-left: -14px;
  z-index: 2;
}
.right{
  margin-left: -14px;
}

/*OnHover and OnClick on Keys*/
button.lowerkeys:hover{
  background-color: #dbd3c8;
}
button.upperkeys:hover{
  background-image: linear-gradient(to bottom,#4f4d4a,#616161);
}
.lowerkeys.active{
  background-image: linear-gradient(to bottom,white,#7d7872);
  box-shadow: 0px 0px 5px black;
}
.upperkeys.active{
  background-image: linear-gradient(to bottom,#616161,#242322);
  box-shadow: 0px 5px 5px #403a34;
}

/* logout & SaveRecord */
.FormExtraButtons{
  display: inline-block;
}
.ExtraButtons{
  background-color: black;
  width: 60px;
  color: white;
  border:none;
  text-decoration: none;
  padding: 10px;
  margin-left: 0px;
  font-weight: bold;
  display: none;
}
/* rest body*/
#restbody{
  padding: 110px 0px;
}

/* signup and login box
.box{
  background-image:url("../images/FormBox.jpg");
  box-shadow:10px 10px 5px black;
  filter:grayscale(100%);
  width: 500px;
  height: 400px;
  margin:auto;
  border-radius:5px;
  border-style:solid;
  border-color:lightgrey;
}
.form{
  margin: auto;
  padding:50px;
}
.formbox{
  display:block;
  margin: 50px auto;
  border-radius:20px;
  user-select: none;
}
.textbox{
  padding-left:20px;
  width:300px;
  height:30px;
}
.submit{
  width:325px;
  height:40px;
  background-color:black;
  color:white;
} */

#DropDownPlay{
  width:70%;
  display:flex;
  flex-direction: column;
  overflow-y:scroll;
  height:400px;
  scrollbar-color: #827001 rgba(10, 1, 1, 0.619);
  scrollbar-width: thin;
}

.Content{
  all:unset;
  margin: 5px;
  padding: 15px;
  letter-spacing: 5px;
  background: -webkit-linear-gradient(bottom, #3e3903, #022c1569);
  color:rgb(238, 234, 15);
  opacity: 0.9;
  /* font-weight: bold; */
  /* border:2px solid black; */
 border-radius: 10px;   
 cursor: pointer;
}

.Content:hover{
  box-shadow: 0px 0px 0px 2px  #efe813bb;
  color: rgb(189, 142, 142);
}

#HelpDoc{
  width: 100%;
  height: 100%;
  background-color: lightgrey;
  box-shadow: 5px 5px 5px black;
  display: none;
  position: absolute;
  top: 80px;
  z-index: 4;
}

#HelpDoc article{
  margin: 20px;
}

#HelpDoc article img{
  width: 80%;
  margin: 30px;
}

#icon{
  all:unset;
  text-decoration: none;
  font-size:20px;
  height: 80px;
  color: white;
  display:none;
  cursor: pointer;
  user-select: none;
  justify-content: center;
  align-items: center;
  width: 20%;
}

@media (max-width: 955px){
  #icon{
    display: flex;
  }
  #heading{
    width: 80%;
  }
  #options{
    display: block;
    height: 0px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-out;
  }
  .pressedNav{
    width: 100%;
    background-color: white;
    color: grey;
  }
  .pressedNav:hover{
    background-color: lightgrey;
    color: white;
  }
}
@media (min-width: 955px) {
  #options{
    display: block;
  }
  #restbody{
    position: static;
    z-index: 0;
  }
}
@media (max-width: 500px) {
  .box{
    width: 100%;
  }
  .textbox{
    width: 100%;
  }
  .submit{
    width: 100%;
  }
}

.player-btn {
  background: -webkit-linear-gradient(right, #efe813bb, #022c1569);
  border: none;
  border-radius: 21px;
  /* box-shadow: 0px 1px 8px #24c64f; */
  cursor: pointer;
  color: white;
  font-family: "Raleway SemiBold", sans-serif;
  height: 42.3px;
  margin-left:25px ;
  margin-right:25px;
  margin-top: 25px;
  margin-bottom: 25px;
  transition: 0.25s;
  /* font-weight: bold; */
  width: 153px;
  letter-spacing: 3px;
  
}
.player-btn:hover {
  box-shadow: 0px 1px 18px #efe813bb;
}


 /* The Modal (background) */
 .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 

.form {
  align-items: left;
  display: flex;
  flex-direction: column;
}
.form-border {
  background: -webkit-linear-gradient(right, #efe813bb, #022c1569);
  height: 1px;
  width: 100%;
}
.form-content {
  background: #fbfbfb;
  border: none;
  outline: none;
  padding-top: 14px;
}
.underline-title {
  background: -webkit-linear-gradient(right, #efe813bb, #022c1569);
  height: 2px;
  margin: -1.1rem auto 0 auto;
  width: 89px;
}

/*Modal button*/
.modal-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;

}

.submit-btn {
  background: -webkit-linear-gradient(right, #efe813bb, #022c1569);
  border: none;
  border-radius: 21px;
  /* box-shadow: 0px 1px 8px #24c64f; */
  cursor: pointer;
  color: white;
  font-family: "Raleway SemiBold", sans-serif;
  height: 42.3px;
  margin: 0 auto;
  margin-top: 50px;
  transition: 0.25s;
  width: 153px;
}
#submit-btn:hover {
  box-shadow: 0px 1px 18px #efe813bb;
}

